/* TYPOGRAPHY */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  overflow: hidden;
  min-width: 1200px;
  max-width: 1800px;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

.vertical-gap {
  height: 50px;
  display: block;
  clear: both;
}

ul li {
  font-size: 1.0em;
  line-height: 1.2em;
  margin-bottom: 2px;
  cursor: -webkit-grab;
  list-style-type: none;
}


/* Colors */

.main-bgcolor {
  background-color: #333333;
}

.main-font-color {
  color: white;
}

.shadow-color {
  color: gray;
}

.main-border-color {
  border-color: white;
}

.shadow-border-color {
  border-color: gray;
}


/* TOP ROW - DATETIME & COUNTDOWN */

#top-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  animation: fadeInDown 1s both;
}

#top-row-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gap-cell {
  width: 5%;
  max-width: 10px;
}

#nowbox-td {
  width: 30%;
}

#nowbox {
  font-size: 2em;
  float: left;
  width: 100%;
}

#clockbox {
  text-align: center;
  border: 1px solid;
  vertical-align: middle;
  padding: 10px 20px 10px 20px;
  font-size: 1.2em;
  margin: 0 10px 0 10px;
  line-height: 1.5em;
}

#daybox {
  text-align: center;
  font-size: 0.75em;
  margin-top: 20px;
}

#datebox {
  text-align: center;
  font-size: 0.75em;
}

#countdownbox {
  font-size: 1.2em;
  float: right;
  width: 100%;
}

.countdown-title {
  text-align: center;
  clear: both;
  margin-bottom: 25px;
}

#countdownbox-justifier {
  width: 100%;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#countdownbox-justifier:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.countdown-segment {
  float: left;
  text-align: center;
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.countdown-amount {
  font-size: 2.75em;
}


/* BOTTOM ROW - PRIORITIES */

#bottom-row {
  clear: both;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  height: 50%;
  animation: fadeInUp 1s both;
}

#bottom-row:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.priorities {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.list-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.list-scrollable {
  overflow: auto;
  width: 100%;
  max-height: 100%;
  margin-top: 10px;
  overflow-x: hidden;
}

.shown-items {
  text-align: left;
  min-height: 10px;
}

.priorities-title {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.clear-all-link {
  font-size: inherit;
  text-decoration: none;
}

.sweep-link {
  font-size: inherit;
  text-decoration: none;
}

.add-item-button {
  border: none;
  box-shadow: none;
  background: none;
  font-size: 1em;
}

ul {
  padding: 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

li a {
  text-decoration: none;
}

.edit-priorities-link {
  display: block;
  text-align: right;
  text-decoration: none;
}

.hide-edit {
  text-decoration: none;
}

.edit-priorities {
  text-align: center;
  display: none;
}

form {
  display: inline-block;
  margin-right: 20px;
  width: 100%;
}

input[type="text"] {
  width: 79%;
  padding: 5px;
  border: solid 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
  font-size: 1em;
}

input[type="text"]:focus {
  border: solid 1px #dcdcdc;
  box-shadow: 0 0 5px 1px #969696;
}

.edit-message {
  font-size: 0.8em;
  margin-top: 10px;
}

.scroll-message {
  display: none;
  text-align: right;
  font-size: 0.5em;
  margin-top: 10px;
}

.todo-card {
  border: 1px solid;
  list-style-position: inside;
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-text {
  width: 85%;
  flex-grow: 1;
}

.todo-card-done {
  text-decoration: line-through;
}

.todo-card-right {
  width: 5%;
}

.pull-right {
  float: right;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  /* This is the part of the scroll that represents where you are */
  background-color: white;
}


/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-track {
  /* This is what the thumb travels on */
  background-color: #333333;
}


/* the new scrollbar will have a flat appearance with the set background color */


/* COLOR CORNER */

#customize-corner {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

#customize-corner-title {
  font-weight: bold;
  margin-top: 0px;
}

#customize-button {
  font-size: 2em;
  cursor: pointer;
}

#customize-selectors {
  font-size: 0.6em;
  display: none;
  border: 1px solid;
  box-shadow: 1px 1px 1px;
  padding: 5px;
}

.colpick {
  bottom: 20px;
  left: 175px;
  top: auto;
}

.cursor-pointer {
  cursor: pointer;
}

#workday-checkbox {
  margin-left: 0px;
}

.time-input {
  border-radius: 4px;
  border-style: none;
  margin: 0 4px 0 4px;
}

#workday-time-save {
  margin-left: 5px;
  vertical-align: middle;
  margin-top: 1px;
}


/* INFO CORNER */

#info-corner {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

#info-button {
  font-size: 2em;
}

#info {
  display: none;
}

#info-corner p {
  font-size: 0.5em;
  line-height: 0.6em;
  text-align: right;
}


/* UPDATE FOOTER */

#update-footer {
  text-align: center;
  font-size: 0.75em;
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: none;
}

#update-message {
  margin-left: auto;
  margin-right: auto;
}

#update-hide {
  cursor: pointer;
}


/* SQUARED THREE */

input[type=checkbox]:not(.immune) {
  visibility: hidden;
}

.squaredThree {
  position: relative;
  width: 10%;
}

.squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d', GradientType=0);
}

.squaredThree label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked+label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}


/* KEYFRAMES */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
