/* GENERAL */
body {
    background-color: #333333;
    color: white;
    font-size: 20px;
    overflow: hidden;
    min-width: 1200px;
    max-width: 1800px;
}

a {
    color: gray;
}

.vertical-gap {
    height: 100px;
    display: block;
    clear: both;
}

ul li {
    font-size: 1.2em;
    line-height: 1.25em;
    cursor: row-resize;
}

/* TOP ROW - DATETIME & COUNTDOWN */
#top-row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#top-row-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.gap-cell {
    width: 5%;
    max-width: 10px;
}

#nowbox-td {
    width: 350px;
}

#nowbox {
    font-size: 2.5em;
    float: left;
    width: 100%;
}

#clockbox {
    text-align: center;
    border: 1px solid;
    vertical-align: middle;
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;
    margin: 0 10px 0 10px;
    line-height: 1.5em;
}

#daybox {
    text-align: center;
    font-size: 0.75em;
    margin-top: 20px;
}

#datebox {
    text-align: center;
    font-size: 0.75em;
}

#countdownbox {
    font-size: 1.5em;
    float: right;
    width: 100%;
}

.countdown-title {
    text-align: center;
    clear: both;
    margin-bottom: 25px;
}

#countdownbox-justifier {
    width: 100%;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#countdownbox-justifier:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.countdown-segment {
    float: left;
    text-align: center;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.countdown-amount {
    font-size: 2.75em;
}

/* BOTTOM ROW - PRIORITIES */

#bottom-row {
    clear: both;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#bottom-row:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.priorities {
    width: 30%;
    margin: 0 10px 0 10px;
    display: inline-block;
    vertical-align: top;
}

.shown-items {
    text-align: left;
}

.priorities-title {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    font-size: 1.5em;
}

.clear-all-link {
    font-size: inherit;
    /*color: inherit;*/
    text-decoration: none;
}

.add-item-button {
    /*border: 1px white solid;*/
    border: none;
    box-shadow: none;
    background: none;
    font-size: 1em;
    color: inherit;
}

li a {
    text-decoration: none;
    color: gray;
}

.edit-priorities-link {
    display: block;
    color: gray;
    text-align: center;
    text-decoration: none;
}

.hide-edit {
    text-decoration: none;
}

.edit-priorities {
    text-align: center;
    display: none;
}

form {
    display: inline-block;
    margin-right: 20px;
    width: 100%;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: gray;
  color: white;
  font-size: 1em;
}

input[type="text"]:focus {
  border: solid 1px #dcdcdc;
  box-shadow: 0 0 5px 1px #969696;
}

.edit-message {
    font-size: 0.8em;
    color: white;
    margin-top: 10px;
}

/* INFO CORNER */

#info-corner {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#info-button {
    width: 1em;
    height: 1em;
    text-align: center;
    float: right;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
}

#info {
    display: none;
}

#info-corner p {
    font-size: 0.5em;
    line-height: 0.6em;
    text-align: right;
}
